* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-user_item {
  font-size: 1em;
  color: #fff;
}

.navbar-user_item:hover {
  color: rgb(232, 232, 255);
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.navbar-user_item:nth-child(4) {
  margin-left: 10em;
}

.navbar-user {
  width: 100vw;
  margin: auto;
}

.button-add {
  width: 10em;
  margin: auto;
  font-size: 0.8em;
  height: 2em;
}

.button-add:hover {
  color: #000;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 1px 1px 8px rgb(255, 255, 255);
}
